    .sticky {
        position: fixed;
        top: 0;
        width: 99%;
        background-color: #002b5e;
        z-index: 2;
        color: white;
}

    .sticky+.content {
        padding-top: 60px;
    }


.RRSS-scrolled {
        display: flex;
        flex-direction: horizontal;
        position: fixed;
        top: 0;
        width: 99%;
        z-index: 5;
        flex-direction: horizontal;
        padding: 1.5%;
        text-decoration: none;
        color: black;
        transition: 0.6s
}

.RRSS-scrolled>a{
	right: 10%;
	padding-right: 1.5%;
	text-decoration: none;
    color: black
}

.RRSS-scrolled>a:hover{
	font-size: 1.4em;
	transition: 0.4s;
}