.ficha-tercio-izquierdo{
	margin-top: 3.5%;
	margin-left: 0%;
	margin-right: 3%; 
	width: 20%; 
	min-width: 200px;
}

.ficha-tercio-central{
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%; 
	width: 40%; 
	min-width: 200px
}

.ficha-tercio-derecho{
	margin-top: 3.5%;
	margin-left: 5%;
	margin-right: 1%; 
	width: 18%; 
	min-width: 200px
}